@model ListPartsAllViewModel
@{
    ViewData["Title"] = "Parts Offers";
}
<h1 class="text-center mt-2">Active parts offers</h1>
<div class="wrapper">
    <a class="btn btn-outline-info" href="/Search/Parts"><i class="fas fa-search icon-large"></i> Search</a>
</div>
<hr />
<partial name="_PartAllPartial" model="@Model" />
<hr />
<partial name="_PagingPArtial" model="@Model" />

