@model ListPartsAllViewModel
@{
    ViewData["Title"] = "Активни обяви за авточасти";
}
<h1 class="text-center mt-2">Обяви за авточасти</h1>
<div class="wrapper">
    <a href="/Search/Parts">Търсене</a>
</div>
<hr />
<partial name="_PartAllPartial" model="@Model" />
<hr />
<partial name="_PagingPArtial" model="@Model" />

