@model AutoMarket.Models.Offers.ListMyOffersViewModel
@{
    ViewData["Title"] = "Моите обяви";
}

<h1 class="text-center mt-2">Моите обяви</h1>
@if (!Model.Offers.Any() && Model.PagesCount < Model.PageNumber)
{
    <div class="text-center">
        <h4>В момента нямате създадени обяви</h4>
        <h5>
            За да създадете нова обява за автомобил натиснете
            <a href="/Vehicles/Create" class="text-decoration">тук</a>
        </h5>
        <h5>
            За да създадете нова обява за авточасти натиснете
            <a href="/Parts/Create" class="text-decoration">тук</a>
        </h5>
    </div>
}
else
{
    <partial name="_AllOffersPartial" model="@Model" />
}
<hr />
<partial name="_PagingPartial" model="@Model" />



