@model ListAllVehicleViewModel
@{
    ViewData["Title"] = "Active vehicles offers";
}
<h1 class="text-center mt-2">@ViewData["Title"]</h1>
<div class="wrapper">
    <a class="btn btn-outline-info" href="/Search/All"><i class="fas fa-search"></i> Search</a>
</div>
@if (!Model.Offers.Any())
{
<p>There are no offers in 'Vehicles' yet</p>
}
<partial name="_VehicleAllPartial" model="@Model" />
<hr />
<partial name="_PagingPartial" model="@Model" />

