@model SearchVehicleViewModel

@{
    ViewData["Title"] = "Търсене в обяви за автомобили";
}

<h3 class="text-center">Търси в обяви за автомобили по 'Марка' и 'Модел'</h3>

<form method="get">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xl-9">
            <div>
                <label asp-for="Make"></label>
                <select class="form-group" name="Make">
                    <option value="">All</option>
                    @foreach (var make in Model.Makes)
                    {
                        <option value="@make">@make</option>
                    }
                </select>
            </div>
            <div>
                <label asp-for="VehicleModel"></label>
                <input class="form-group" type="text" asp-for="VehicleModel" value="" id="VehicleModel" placeholder="Write a vehicle model here..." />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Търси" />
            </div>
        </div>
    </div>
</form>