@model AutoMarket.Models.Dealers.BecomeDealerViewModel

    <div class="container col-md-6 col-sm-12 col-xl-9 justify-content-center">
        <form class="justify-content-center" method="post" asp-controller="Dealers" asp-action="BecomeDealer">
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h3>User Info</h3>
                        <label asp-for="UserEmail"><i class="fa fa-envelope" style="color:crimson"></i>  E-mail</label>
                        <input class="form-control" asp-for="UserEmail" type="text" name="UserEmail" placeholder="john@example.com">
                        <span asp-validation-for="UserEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DealerName"><i class="fas fa-briefcase" style="color:crimson"></i>  Dealer Name</label>
                        <input class="form-control" asp-for="DealerName" type="text" name="DealerName" placeholder="Enter your Dealer name">

                        <span asp-validation-for="DealerName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <h3>Payment</h3>
                        <label asp-for="CardHolder"><i class="fas fa-user-circle" style="color:crimson"></i>  Име върху картата</label>
                        <input class="form-control" asp-for="CardHolder" type="text" id="cname" name="CardHolder" placeholder="Име върху картата">
                        <span asp-validation-for="CardHolder" class="text-danger"></span>
                        <label asp-for="CardNumber"><i class="far fa-credit-card" style="color:crimson"></i>  Номер на картата</label>
                        <input class="form-control" asp-for="CardNumber" type="text" id="ccnum" name="CardNumber" placeholder="1111-2222-3333-4444">
                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                        <label asp-for="CardExpiredYear"><i class="far fa-calendar-alt" style="color:crimson"></i>  Expiration Year</label>
                        <input class="form-control" asp-for="CardExpiredYear" type="number" name="CardExpiredYear">
                        <span asp-validation-for="CardExpiredYear" class="text-danger"></span>
                        <label asp-for="CardExpiredMonth"><i class="far fa-calendar-alt" style="color:crimson"></i>   Expiration month</label>
                        <input class="form-control" asp-for="CardExpiredMonth" type="number" name="CardExpiredMonth">
                        <span asp-validation-for="CardExpiredMonth" class="text-danger"></span>
                        <label asp-for="CVV"><i class="fas fa-key" style="color:crimson"></i>  Security 3-digit number</label>
                        <input class="form-control" asp-for="CVV" type="number" name="CVV">
                        <span asp-validation-for="CVV" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <input class="float-right" type="submit" name="name" value="Become Dealer" />
        </form>
    </div>


    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
    }