@model List<int>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        В момента има @Model[0] активни обяви за
        <a class="text-decoration" href="/Offers/All">Автомобили</a>
        и @Model[1] активни обяви за <a class="text-decoation" href="/Parts/All">Авточасти</a>.
    </p>
</div>
<div>

</div>
