@model List<int>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>AutoMarket - the leader in the automotive market</h1>
    <p>
        Currently has  @Model[0] active offers for
        <a class="text-decoration" href="/Vehicles/All">Vehicles</a>
        and @Model[1]  active offers for <a class="text-decoation" href="/Parts/All">Autoparts</a>.
    </p>
</div>

<div class="bg-image" style="background-image: url('/images/cars.jpg'); height: 55vh;">    </div>
<hr />
@if (!this.User.IsInRole("Dealer") && !this.User.IsInRole("Admin"))
{
    <p class="text-center"><strong>Each user can register as a 'Dealer', for which he receives following advantages:</strong></p>
    <ul>
        <li>Its appearance in the list of dealers, which will be available to all users;</li>
        <li>Opportunity for other users to find it by the name of "Dealer" in the search panel;</li>
    </ul>
    <div class="text-center">
        <h5><strong>The subscription for the service is &euro;100</strong></h5>
        <a href="/Dealers/BecomeDealer" class="text-decoration"><h4>I want to be a Dealer</h4></a>
    </div>
}

