<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Contact Details</h3>

            <ul class="alt">
                <li><span class="fa fa-map-marker"></span> @Model.Location</li>
                <li><span class="fa fa-mobile-phone"></span>  @Model.Phone </li>
                <li><span class="fa fa-envelope-o"></span> <a href="#">@Model.Email</a></li>
            </ul>
        </div>
    </div>
</div>