@model UserDetailsViewModel
@{
    ViewData["Title"] = "Детайли на акаунта";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Характеристика</th>
            <th scope="col">Състояние</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td></td>
        </tr>
      
    </tbody>
</table>