@model ListMyOffersViewModel
@{
    ViewData["Title"] = "My offers";
}

<h1 class="text-center mt-2">My Offers</h1>

<partial name="_AllOffersPartial" model="@Model"/>
<hr />
<partial name="_PagingPartial" model="@Model" />
